body {
  font-family: Arial !important;
  font-size: 12pt !important;
}

.nice-blue{
  background-color: aliceblue;
}

.nav-color {
  background-color: #80B0EE;
}

.border-basic-sm {
  border: black solid 1pt;
}

.border-basic-md {
  border: black solid 2pt;
}
.border-basic-lg {
  border: black solid 4pt;

}

a:link  {
  color: blue;
}
a:visited {
  color: grey;
}

.full-height {
  min-height: 100vh;
  heights: 100%;

}

.rounded {
  border-radius: 12px;

}
